[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"

[packages]
pandas = "==0.24"
requests = "*"
beautifulsoup4 = "*"
pdf2image = "*"
opencv-python = "==3.4.3.18"
tqdm = "*"
django = "*"
django-filter = "*"
djangorestframework = "*"
tweepy = "*"
gunicorn = "*"
sqlite3 = "*"

[requires]
python_version = "3.6"
